html{
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, #de00f3, #ff00b9, #ff007e, #ff0047, #ff0404);
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin-left:30%;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right top, #ec14d6, #ff0092, #ff5b54, #ff9a1c, #ebcc12);
    width: 40%;
    border-radius: 5px;
    border:solid;
}

li a {
    display: block;
    color: white; 
    font-size: 20px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: solid rgb(0, 0, 0);
}

li a:hover {
    background-color: rgb(206, 36, 36);
    
  }


